extends layout

include _includes/sharedHTMLfunctions

block content
  header
      #bcg-01.container-fluid
        .container
          .row
            .container-fluid
              .col-xs-12.col-sm-6
                h1#slogan-01
                  = pageHeader.title                             
                h2#slogan-02
                  = pageHeader.subtitle
              |                         
              .col-xs-12.col-sm-6
                #rect-01.pull-right
                  #currency-rate.col-xs-12
                    p Kursy walut
                  |                                 
                  .currency-name.col-xs-6
                    p.pull-left USD/PLN
                  |                                 
                  .rate.col-xs-6
                    p.pull-right.usdpln 4.01
                  |                                 
                  .currency-name.col-xs-6
                    p.pull-left USD/EUR
                  |                                 
                  .rate.col-xs-6
                    p.pull-right.usdeur 0.91
                  |                                 
                  .currency-name.col-xs-6
                    p.pull-left USD/GBP
                  |                                 
                  .rate.col-xs-6
                    p.pull-right.usdgbp 0.68
                  |        
    #mine-wrapper
      .container
        .row
          .col-xs-3
            p.select-country Wybierz kraj:
          |                     
          .col-xs-9
            ul.countries
              li.country
                p Austria
              |                             
              li.country
                p Belgia
              |                             
              li.country
                p Dania
              |                             
              li.country
                p Finlandia
              |                             
              li.country
                p Francja
              |                             
              li.country
                p Hiszpania
              |                             
              li.country
                p Holandia
              |                             
              li.country
                p Irlandia
              |                             
              li.country
                p Niemcy
              |                             
              li.country
                p Norwegia
              |                             
              li.country
                p Szwacjaria
              |                             
              li.country
                p Szwecja
              |                             
              li.country
                p USA
              |                             
              li.country
                p Wielka Brytania
              |                             
              li.country
                p Wlochy
      |             
      .container.line
      |             
      .container
        h2.ranking= rankingHeader.title
      |             
      #wide-screen
        .container.ranking-header
          row
            .col-xs-12.compare-desc
              p= rankingHeader.description 
            |                         
            .col-xs-12.compare-group
              .compare-title.col-xs-2
                p= rankingHeader.companyName
              |                             
              .compare-title.col-xs-2
                p= rankingHeader.currencyRate
              |                             
              .compare-title.col-xs-1
                p= rankingHeader.fee
              |                             
              .compare-title.col-xs-2
                p= rankingHeader.amount
              |                             
              .compare-title.col-xs-1
                p= rankingHeader.loss
              |                             
              .compare-title.col-xs-1
                p= rankingHeader.realRate
              |                             
              .compare-title.col-xs-1
                p= rankingHeader.update
              |                             
              .compare-title.col-xs-2
                p= rankingHeader.rating
        |                 
        #rank-01.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img.maxwidth(src= transfer01.imgSrc alt= transfer01.imgAlt)
              |                             
              .compare-elem.col-xs-2
                p= transfer01.currencyRate
              |                             
              .compare-elem.col-xs-1
                p= transfer01.fee
              |                             
              .compare-elem.col-xs-2
                p= transfer01.amount
              |                             
              .compare-elem.col-xs-1
                p= transfer01.loss
              |                             
              .compare-elem.col-xs-1
                p= transfer01.realRate
              |                             
              .compare-elem.col-xs-1
                p= transfer01.update
              |                             
              .compare-elem.col-xs-2
                +outputRating(transfer01.rating)
        #rank-02.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img.maxwidth(src= transfer02.imgSrc alt= transfer02.imgAlt)
              |                             
              .compare-elem.col-xs-2
                p= transfer02.currencyRate
              |                             
              .compare-elem.col-xs-1
                p= transfer02.fee
              |                             
              .compare-elem.col-xs-2
                p= transfer02.amount
              |                             
              .compare-elem.col-xs-1
                p= transfer02.loss
              |                             
              .compare-elem.col-xs-1
                p= transfer02.realRate
              |                             
              .compare-elem.col-xs-1
                p= transfer02.update
              |                             
              .compare-elem.col-xs-2
                +outputRating(transfer02.rating)
        #rank-03.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img.maxwidth(src= transfer03.imgSrc alt= transfer03.imgAlt)
              |                             
              .compare-elem.col-xs-2
                p= transfer03.currencyRate
              |                             
              .compare-elem.col-xs-1
                p= transfer03.fee
              |                             
              .compare-elem.col-xs-2
                p= transfer03.amount
              |                             
              .compare-elem.col-xs-1
                p= transfer03.loss
              |                             
              .compare-elem.col-xs-1
                p= transfer03.realRate
              |                             
              .compare-elem.col-xs-1
                p= transfer03.update
              |                             
              .compare-elem.col-xs-2
                +outputRating(transfer03.rating)
        #rank-04.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img.maxwidth(src= transfer04.imgSrc alt= transfer04.imgAlt)
              |                             
              .compare-elem.col-xs-2
                p= transfer04.currencyRate
              |                             
              .compare-elem.col-xs-1
                p= transfer04.fee
              |                             
              .compare-elem.col-xs-2
                p= transfer04.amount
              |                             
              .compare-elem.col-xs-1
                p= transfer04.loss
              |                             
              .compare-elem.col-xs-1
                p= transfer04.realRate
              |                             
              .compare-elem.col-xs-1
                p= transfer04.update
              |                             
              .compare-elem.col-xs-2
                +outputRating(transfer04.rating)
        #rank-05.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img.maxwidth(src= transfer05.imgSrc alt= transfer05.imgAlt)
              |                             
              .compare-elem.col-xs-2
                p= transfer05.currencyRate
              |                             
              .compare-elem.col-xs-1
                p= transfer05.fee
              |                             
              .compare-elem.col-xs-2
                p= transfer05.amount
              |                             
              .compare-elem.col-xs-1
                p= transfer05.loss
              |                             
              .compare-elem.col-xs-1
                p= transfer05.realRate
              |                             
              .compare-elem.col-xs-1
                p= transfer05.update
              |                             
              .compare-elem.col-xs-2
                +outputRating(transfer05.rating)
        #rank-06.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img.maxwidth(src= transfer06.imgSrc alt= transfer06.imgAlt)
              |                             
              .compare-elem.col-xs-2
                p= transfer06.currencyRate
              |                             
              .compare-elem.col-xs-1
                p= transfer06.fee
              |                             
              .compare-elem.col-xs-2
                p= transfer06.amount
              |                             
              .compare-elem.col-xs-1
                p= transfer06.loss
              |                             
              .compare-elem.col-xs-1
                p= transfer06.realRate
              |                             
              .compare-elem.col-xs-1
                p= transfer06.update
              |                             
              .compare-elem.col-xs-2
                +outputRating(transfer06.rating)
        #rank-07.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-2
                img.maxwidth(src= transfer07.imgSrc alt= transfer07.imgAlt)
              |                             
              .compare-elem.col-xs-2
                p= transfer07.currencyRate
              |                             
              .compare-elem.col-xs-1
                p= transfer07.fee
              |                             
              .compare-elem.col-xs-2
                p= transfer07.amount
              |                             
              .compare-elem.col-xs-1
                p= transfer07.loss
              |                             
              .compare-elem.col-xs-1
                p= transfer07.realRate
              |                             
              .compare-elem.col-xs-1
                p= transfer07.update
              |                             
              .compare-elem.col-xs-2
                +outputRating(transfer07.rating)
      // End wide screen
      #small-screen
        #rank-01.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src= transfer01.imgSrc, alt= transfer01.imgAlt)
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right= transfer01.currencyRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right= transfer01.fee
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right= transfer01.amount
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right= transfer01.loss
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right= transfer01.realRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right= transfer01.update
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                +outputRating(transfer01.rating)
        #rank-02.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src= transfer02.imgSrc, alt= transfer02.imgAlt)
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right= transfer02.currencyRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right= transfer02.fee
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right= transfer02.amount
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right= transfer02.loss
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right= transfer02.realRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right= transfer02.update
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                +outputRating(transfer02.rating)
        #rank-03.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src= transfer03.imgSrc, alt= transfer03.imgAlt)
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right= transfer03.currencyRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right= transfer03.fee
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right= transfer03.amount
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right= transfer03.loss
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right= transfer03.realRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right= transfer03.update
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                +outputRating(transfer03.rating)
        #rank-04.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src= transfer04.imgSrc, alt= transfer04.imgAlt)
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right= transfer04.currencyRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right= transfer04.fee
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right= transfer04.amount
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right= transfer04.loss
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right= transfer04.realRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right= transfer04.update
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                +outputRating(transfer04.rating)
        #rank-05.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src= transfer05.imgSrc, alt= transfer05.imgAlt)
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right= transfer05.currencyRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right= transfer05.fee
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right= transfer05.amount
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right= transfer05.loss
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right= transfer05.realRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right= transfer05.update
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                +outputRating(transfer05.rating)
        #rank-06.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src= transfer06.imgSrc, alt= transfer06.imgAlt)
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right= transfer06.currencyRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right= transfer06.fee
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right= transfer06.amount
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right= transfer06.loss
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right= transfer06.realRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right= transfer06.update
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                +outputRating(transfer06.rating)
        #rank-07.container.ranking-header
          row
            .col-xs-12.compare-group
              .compare-elem.company-name.col-xs-12
                img(src= transfer07.imgSrc, alt= transfer07.imgAlt)
              |                             
              .compare-title.col-xs-6
                p.pull-left Kurs wymiany
              .compare-elem.col-xs-6
                p.pull-right= transfer07.currencyRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Oplata
              .compare-elem.col-xs-6
                p.pull-right= transfer07.fee
              |                             
              .compare-title.col-xs-6
                p.pull-left Kwota za 1000
              .compare-elem.col-xs-6
                p.pull-right= transfer07.amount
              |                             
              .compare-title.col-xs-6
                p.pull-left Strata
              .compare-elem.col-xs-6
                p.pull-right= transfer07.loss
              |                             
              .compare-title.col-xs-6
                p.pull-left Rzecz. kurs
              .compare-elem.col-xs-6
                p.pull-right= transfer07.realRate
              |                             
              .compare-title.col-xs-6
                p.pull-left Aktualizacja
              .compare-elem.col-xs-6
                p.pull-right= transfer07.update
              |                             
              .compare-title.col-xs-6
                p.pull-left Opinie klient wg. Trustpilot
              |                             
              .compare-elem.col-xs-6
                +outputRating(transfer07.rating)
      // End small screen
      .container-fluid.countries-list
        .container
          .col-xs-12
            ul#country-transf
              li.transf-list
                p.transf-item Przelewy z Austrii
              |                             
              li.transf-list
                p.transf-item Przelewy z Belgii
              |                             
              li.transf-list
                p.transf-item Przelewy z Danii
              |                             
              li.transf-list
                p.transf-item Przelewy z Finlandii
              |                             
              li.transf-list
                p.transf-item Przelewy z Francji
              |                             
              li.transf-list
                p.transf-item Przelewy z Hiszpanii
              |                             
              li.transf-list
                p.transf-item Przelewy z Holandii
              |                             
              li.transf-list
                p.transf-item Przelewy z Irlandii
              |                             
              li.transf-list
                p.transf-item Przelewy z Niemiec
              |                             
              li.transf-list
                p.transf-item Przelewy z Norwegii
              |                             
              li.transf-list
                p.transf-item Przelewy z Szwajcarii
              |                             
              li.transf-list
                p.transf-item Przelewy z Szwecji
              |                             
              li.transf-list
                p.transf-item Przelewy z USA
              |                             
              li.transf-list
                p.transf-item Przelewy z Wielkiej Brytanii
              |                             
              li.transf-list
                p.transf-item Przelewy z W&lstrok;och
    // End main sector
