extends layout

include _includes/sharedHTMLfunctions

block content
  #mine-wrapper
      #info-company-main.container
        .row
          .col-xs-12.col-sm-4.info-company-logo
            img(src= pageHeader.imgSrc, alt= pageHeader.companyName)
          |                         
          .col-xs-12.col-sm-4.info-company-name.text-center
            p Nazwa firmy: #{pageHeader.companyName}
          |                         
          .col-xs-12.col-sm-4.info-company-website.text-center
            p strona: #{pageHeader.websiteAddress}
      |                 
      .container.line
      |                 
      .container.info-company-line
        p.info-company-about #{pageHeader.companyName} informacje o firmie
      |                 
      #info-company-01.container
        .row
          .col-xs-12.col-sm-4.info-about-company
            .col-xs-12.text-center
              p Data powstania firmy: #{companyDetails.incorporatedDate}
            |                             
            .col-xs-12.text-center
              p Wlasciciel i zarzad:
            |                             
            .col-xs-12.text-center
              p= companyDetails.manager
                br
                p= companyDetails.role
          |                         
          .col-xs-12.col-sm-4.info-about-company
            .col-xs-12.text-center
              p Zakres dzialalnosci: #{companyDetails.activity}  
            |                             
            .col-xs-12.text-center
              p Sektor dzialalnosci: #{companyDetails.sector}  
            |                             
            .col-xs-12.text-center
              p Status firmy: #{companyDetails.type}  
          |                         
          .col-xs-12.col-sm-4.info-about-company
            .col-xs-12.text-center
              p Minimalny transfer: #{companyDetails.minAmount}  
            |                             
            .col-xs-12.text-center
              p Waluty obslugiwane: #{companyDetails.currency}  
            |                             
            .col-xs-12.text-center
              p
                | Adres firmy: #{companyDetails.address}
      |                 
      #info-company-02.container
        .row
          img.info-company-map.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{companyDetails.coords.latitude},#{companyDetails.coords.longitude}&zoom=17&size=1170x250&sensor=false&markers=51.5048458,-0.0218651&scale=2', alt='Google Maps')
      |                 
      #info-company-03.container.customer-review
        .row
          .col-xs-12
            .col-xs-6
              p Opinie o #{pageHeader.companyName}
            |                             
            .col-xs-6
              a.btn.btn-default.pull-right.btn-bgc-blue(href= companyDetails.formAddress)
                p.review-btn Dodaj opinie
        each review in companyReview                         
          .row.review-details
              .col-xs-12.col-sm-4.vertical-center
                span.review-stars.text-center
                  +outputRating(review.rating)                          
              .col-xs-12.col-sm-4.vertical-center
                p.text-center Autor: #{review.author}
              .col-xs-12.col-sm-4.vertical-center
                p.text-center Data: #{review.date}
            .col-xs-12
              p.text-center= review.reviewText
                            |                             